snippet link markdown link
	[$1](${VISUAL})

snippet delang comment to change language to german for ltex
	<!-- LTeX: language=de-DE -->

snippet cb Isert a checkbox
	- [ ] $0

snippet cbd Insert a done checkbox
	- [x] $0

snippet lst list itemn
	- $0
